@using ASP.NET_Core_MVC__Task_4_5_.Authorization
@{
    ViewData["Title"] = "Add new profile";
}

<h3>Create profile</h3>
<hr/>
<div class="col-md-4">
    @using (Html.BeginForm("AddProfile", "Profile", FormMethod.Post))
    {
        <div class="form-group">
            @Html.Label("Name", "Name")
            @Html.TextBox("Name", null, new {@class = "form-control", placeholder = "Enter Name", required = true})
        </div>
        <div class="form-group">
            @Html.Label("Email", "Email")
            @Html.TextBox("Email", null, new {type = "email", @class = "form-control", placeholder = "Enter email", required = true})
        </div>
        <div class="form-group">
            @Html.Label("Address", "Address")
            @Html.TextBox("Address", null, new {@class = "form-control", placeholder = "Enter address", required = true})
        </div>
        <input type="submit" class="btn btn-primary" value="Create"/>
    }
</div>